@page
@model PersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-6">
        <p>På denne side har du mulighed for at hente dine personlige data eller slette din bruger.</p>
        <p>
            <strong>Sletning af dine personlige data sletter permanent dine brugeroplysninger og din bruger uden mulighed for genoprettelse.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Hent data</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Slet bruger</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
