@model RallyBuilder.ViewModels.AdminServiceVM;

<div class="container p-3">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Liste over brugere
            </h2>
        </div>
    </div>

<table class="table table-bordered table-striped" style="table-layout: fixed; width: 100%;">
    <col style="width: 30%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
    <col style="width: 10%;">
    <col style="width: auto;">

        <tr>
            <th>Bruger ID</th>
            <th>Navn</th>
            <th>Email</th>
            <th>Rolle</th>
            <th></th
        </tr>

        <tbody>
            @if (Model.ApplicationUsers != null && Model.ApplicationUsers.Any())
            {
                foreach (ApplicationUser applicationUser in Model.ApplicationUsers)
                {
                    <tr>
                        <td>@applicationUser.Id</td>
                        <td>@applicationUser.Email</td>
                        <td></td>
                         <td>
                            <form asp-controller="Admin" method="post" asp-action="DeleteApplicationUser">
                                <input type="hidden" name="userId" value="@applicationUser.Id" />
                                <button class="btn btn-primary btn-danger" type="submit">
                                    Slet bruger
                                </button>
                            </form>
                        </td> 
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="1">Ingen oprettede brugere</td>
                </tr>
            }
        </tbody>
    </table>
</div>