<div class="row" style="margin-top: 20px">
        <div class="col-xl-4">
            <SignSidebar />
        </div>
        <div class="col-xl-8">
            <Course />
        </div>
</div>

@code {
    [Inject] ICourseState CourseState {get; set;}
    [Inject] ApplicationDatabaseContext dbContext {get; set;}
    [Parameter] public CourseModel? CourseModelToLoad {get; set;}
    protected override void OnInitialized()
    {
        if (CourseModelToLoad != null)
        {
            CourseState.CourseModel = CourseModelToLoad;
        }
        else
        {
            dbContext.CourseModels.Add(CourseState.CourseModel);
        }
    }
}