<div class="coursebuilder clearfix">
<SignSidebar />
<Course />
</div>

@code {
    [Inject] ICourseState CourseState {get; set;}
    [Inject] ApplicationDatabaseContext dbContext {get; set;}
    [Parameter] public int? CourseModelIdToLoad {get; set;}
    protected override void OnInitialized()
    {
        if(CourseModelIdToLoad != null)
        {
            CourseModel? courseModel = dbContext.CourseModels
            .Include(cm => cm.CourseSignEntries)
            .ThenInclude(cse => cse.SignModel)
            .FirstOrDefault(cm => cm.CourseModelId == CourseModelIdToLoad);

            if(courseModel != null)
            {
                CourseState.CourseModel = courseModel;
            }
        }
        else
        {
            dbContext.CourseModels.Add(CourseState.CourseModel);
        }
    }
}