<div class="coursegridelement @dropclass"
     ondragover="event.preventDefault();" 
     ondragstart="event.dataTransfer.setData('', event.target.id);"
     @ondrop="HandleDrop"
     @ondragenter="HandleDragEnter"
     @ondragleave="HandleDragLeave">
     
    <Sign SignModel="SignModel" HandleDragStartDelegate="(signModel) => HandleDragStart(signModel)"/>
</div>

@code {
    [Inject] public ICourseState CourseState {get; set;}
    [Parameter] public int GridElementId {get; set;}
    private CourseModel CourseModel {get; set;}
    [Parameter] public SignModel? SignModel {get; set;}
    [Parameter] public EventCallback OnNotifyParent {get; set;}
    private async Task NotifyParent()
    {
        if(OnNotifyParent.HasDelegate)
        {
            await OnNotifyParent.InvokeAsync(null);
        }
    }
    protected override void OnInitialized()
    {
        CourseModel = CourseState.CourseModel;
    }
    private string dropclass;
    private async Task HandleDrop() 
    {
        CourseState.CourseModel.CourseSignEntries.Add(
        new CourseSignEntry()
            {
                SignModel = CourseState.Payload,
                SquareNumber = GridElementId,
                SignNumberOnCourse = CourseState.CourseModel.CourseSignEntries.ToList().Count
            });
        SignModel = CourseState.Payload;
        NotifyParent();
    }
    private void HandleDragEnter() 
    {
        dropclass = "dropclass";    
    }
    private void HandleDragLeave()
    {
        dropclass = "";
    }
    private void HandleDragStart(SignModel signModel)
    {
        CourseState.Payload = SignModel;
        CourseState.CourseModel.CourseSignEntries.RemoveAll(cse => cse.SquareNumber == GridElementId);
        SignModel = null;
        NotifyParent();

    }
}