<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RallyBuilder</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg me-auto bg-dark border-bottom box-shadow mb-3 navbar-custom">
            <i class="bi bi-flag"></i>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Home" asp-action="Index">
                        Startside
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Rallies" asp-action="All">
                        Se Rallies
                    </a>
                </li>

                @if (User.IsInRole(SD.Role_User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Rallies" asp-action="UserCreateRally">
                            Opret Rally
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Rallies" asp-action="UserRallies">
                            Mine Rallies
                        </a>
                    </li>
                }

            </ul>
            <partial name="_LoginPartial" />
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
