w/* html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
} */

/* Components CSS */
/* SignSidebar CSS */

.firstCssClassDosentWorkWeirdAsShitThereforeThisDummy {
  
}
.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-bottom: solid 2px black;
}

.thebutton {
  width: 16.667%;
  height: 35px;
  background-color: beige;
  border: none;
}

.sidebarcontainer {
  border: solid 2px black;
  width: 31%;
  height: 600px;
  float: left;
  margin-top: 10px;
}

.thebutton:hover {
  background-color: rgb(203, 203, 185);
}

.activebutton {
  background-color: rgb(203, 203, 185);
}

.sign {
  
}

.sign img {
  width: 23%;
  height: auto;
}

.signscontainer {
  height: 550px;
  overflow: auto; 
  margin: 5px;
  float: left;
}

/* Course CSS */
.course {
  width: 100%;
  height: 500px;
  background-image: url('../Images/Skilte/Bbbg.jpg');
  background-size: cover;
  background-position: center;
  float: right;
  border: solid 5px grey;
  padding: 20px;
  margin-bottom: 10px;
}

.cbcontainer {
  width: 68%;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  width: 4.5%
}

.header {
  width: 10%;
}

/* Sign CSS */
.sign {
  height: 52px;
}
.allsigns {
  margin: 2px;
}

.begynder {
  border: solid 2px #ffc000;
}

.oevet {
  border: solid 2px #c00000;
}

.ekspert {
  border: solid 2px #00b050;
}

.champion {
  border: solid 2px #003860;
}

/* CourseGridElement CSS */
.coursegridelement {
  width: 5%;
  height: 6.666667%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed rgb(224, 215, 215);
}

.coursegridelement:hover {
  border: 2px solid grey;
  background-clip: padding-box;
}

.dropclass {
  border: 2px solid grey;
  background-clip: padding-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}